@charset "UTF-8";
@import url(style_Reset.css);

body {
  background-color: #000;
}

div#wrapFrame {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

main#main li,
h2 {
  color: #fff;
}

main#main #about1 {
  height: 600px;
}

main#main #about2 {
  height: 700px;
}

div#wrap {
  width: 1250px;
  border: 1px solid #8f8;
  margin: 0 auto;
}

/* header 시작 */

header#header {
  height: 75px;
  line-height: 70px;
  justify-content: space-between;

  background-color: #000;

  border: 1px solid #f00;
}

div#headerLogo a {
  border: 1px solid #00f;
  display: inline-block;
}

div#gnbBtn {
  width: 165px;
  border: 1px solid #00f;
  display: inline-block;
  padding-left: 10px;
}

div#gnbBtn a {
  color: #fff;
  font-size: 19px;
  /* 
      position: relative;
      z-index: 10; */
}

header#header div#lnb {
  width: 190px;
  border: 1px solid #00f;
}

header#header div#lnb ul {
  justify-content: right;
  margin-right: 50px;
}

header#header div#lnb a {
  color: #fff;
  margin-right: 10px;
}

div#stickyArea {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
}

/* header 끝 */

/* div#sideMenuArea 시작 */

div#sideMenuBG {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  position: fixed;
  left: 0;
  top: 0;

  display: none;
  z-index: 999;
}

div#sideMenuArea {
  width: 320px;
  height: 100%;
  background-color: #000;
  border: 1px solid #f00;
  padding: 80px 24px;
  text-align: center;

  position: fixed;
  left: 0;
  top: 0;
}

div#sideMenuHeader {
  margin-bottom: 60px;
}

nav#gnb {
  height: 200px;
  line-height: 35px;
  border: 1px solid #0f0;
}

nav#gnb a {
  color: #aaa;
  font-size: 18px;
}

nav#gnb a:hover {
  color: #fff;
}

div#sideMenuArea button {
  color: #aaa;
  font-size: 20px;
  border: 1px solid #000;
  background-color: #000;

  position: relative;
  bottom: 43px;
  left: 120px;
  bottom: 360px;

  transform: scaleX(1.5);

  cursor: pointer;
}

div#sideMenuArea button:hover {
  color: #fff;
}
/* div#sideMenuArea 끝 */

/* footer#footer 시작 */

footer#footer {
  border: 1px solid #00f;
  font-size: 11px;
}

footer#footer div#footerMenu {
  width: 100%;
  justify-content: space-between;
  border: 1px solid #000;
}

footer#footer div#footerMenu li {
  margin-right: 20px;
}

footer#footer div#footerMenu li:last-child {
  font-weight: bold;
}

div#footerMenu #snsIcon a i:hover {
  color: rgb(121, 121, 121);
}

footer#footer div#footerItem p {
  line-height: 45px;
}

footer#footer div#footerItem span {
  color: rgb(138, 138, 138);
  font-size: 10px;
  line-height: 18px;
}

/* footer#footer 끝 */
