@charset "UTF-8";
@import url(style_common.css);

body {
  background-color: #fff;
}

div#headerFrame {
  width: 100%;
  background-color: #000;
  /* border: 1px solid #f00; */
}

main#main {
  width: 1250px;
  height: 700px;
  /* border: 1px solid #8f8; */
  margin: 0 auto;
}

/* goodsShop 시작 */

main#main > div#goodsShop {
  width: 1250px;
  flex-wrap: wrap;
  justify-content: space-between;
}

div#goodsShop {
  margin-top: 120px;
}

.articleFrame {
  font-size: 13px;
  line-height: 25px;
}

.articleFrame .goodsName {
  font-weight: bold;
  margin-top: 15px;
}

.articleFrame .goodsName,
.goodsPrice {
  text-align: right;
}

/* 이미지 변경 시작 */

.articleImage {
  width: 395px;
  height: 580px;
  position: relative;
}

.articleImage img {
  width: 100%;
  height: 100%;
  border: 0px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
}

.articleImage > .second {
  opacity: 0;
}

.articleImage:hover > .second {
  opacity: 1;
}

/* 이미지 변경 끝 */

/* 원 텍스트 표시 시작 */

.articleFrame .goodsPrice::after {
  content: "원";
}

/* 원 텍스트 표시 끝 */

/* goodsShop 끝 */
footer#footer {
  position: relative;
  top: 130px;
}
