@charset "UTF-8";
@import url(style_common.css);

body {
  background-color: #fff;
}

div#headerFrame {
  width: 100%;
  background-color: #000;
  border: 1px solid #f00;
}

main#main {
  width: 1250px;
  height: 630px;
  border: 1px solid #8f8;
  margin: 0 auto;
}

/* div#contact 시작 */

div#contact {
  height: 250px;
  font-size: 15px;
  margin-top: 80px;
  border: 1px solid #000;
}

div#contact h2 {
  color: #000;
  font-weight: normal;
  padding-bottom: 28px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

div#contact p {
  font-weight: bold;
  padding-top: 30px;
  line-height: 30px;
}

div#contact p:nth-child(4) {
  padding-top: 60px;
}

div#contact #snsPoint {
  text-decoration: underline;
  cursor: pointer;
}

/* div#contact 끝 */

footer#footer {
  position: relative;
  top: 130px;
}
