@charset "UTF-8";
@import url(style_common.css);

body {
  background-color: #fff;
}

div#headerFrame {
  width: 100%;
  background-color: #000;
  border: 1px solid #f00;
}

main#main {
  width: 1250px;
  height: 100%;
  border: 1px solid #8f8;
  margin: 0 auto;
}

/* goods1 시작 */

div#goodsHeader {
  border: 1px solid #f00;
  height: 1100px;
  justify-content: space-between;
  padding-top: 50px;
}

/* goodsMain 시작----------------------------------- */ 

div#goodsSlide img {
  width: 610px;
  height: 895px;
  transition: all 0.5s;
}

div#goodsMain ul {
  margin-top: 10px;
}

div#goodsMain li {
  margin-right: 2px;
  border: 1px solid #fff;
}

div#goodsMain li:hover {
  border: 1px solid #000;
}

/* goodsMain 끝------------------------------------- */ 

div#goodsExplain {
  width: 520px;
  height: 675px;
  border: 1px solid #00f;
}


/* 고정 가격 숨기기 끝 */



/* 팝업 로그인 끝 */
